* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    }

body {
    margin: 0;
    padding: 0;
font-family: batman,sans-serif;
}


@font-face {
    font-family: batman;
    src: url(FUENTES/batmfa_.ttf)
}

/*Logo tecnimux*/  
.Logo_Tx {
    max-width:5rem;
    cursor: pointer;
    background-color:transparent;
cursor: url("/CURSOR/cursor02.png"),auto ;
}

/* Logo Tecnimux */  
.Logo-Tx {
    position: absolute;
    top: 15px;
    right: 15px;
    max-width:2rem;
    background-color:transparent;
    cursor: pointer;
    cursor: url("/CURSOR/cursor02.png"),auto;
}

    .Logo-Tx:hover {
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
        }